<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>

  <!-- Meta Tags -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="description" content="TestRxMD" />
  <meta name="keywords"
    content="testrxmd, clinic, testosterone, hormone, therapy, ed, erectile dysfunction, supplements, doctor, medical, energy, shop, medication, indiana, columbus, neiters" />
  <meta name="author" content="Jacob Briggs" />

  <!-- Page Title -->
  <title>TestRxMD</title>

  <!-- Favicon and Touch Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
  <link rel="manifest" href="images/site.webmanifest">

  <!-- Stylesheet -->
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="css/animate.min.css" rel="stylesheet" type="text/css">
  <link href="css/javascript-plugins-bundle.css" rel="stylesheet" />

  <!-- CSS | menuzord megamenu skins -->
  <link href="js/menuzord/css/menuzord.css" rel="stylesheet" />

  <!-- CSS | Main style file -->
  <link href="css/style-main.css" rel="stylesheet" type="text/css">
  <link href="css/voltage.css" rel="stylesheet" type="text/css">
  <link id="menuzord-menu-skins" href="css/menuzord-skins/menuzord-rounded-boxed.css" rel="stylesheet" />

  <!-- CSS | Responsive media queries -->
  <link href="css/responsive.css" rel="stylesheet" type="text/css">

  <!-- CSS | Theme Color -->
  <link href="css/colors/theme-colors.css" rel="stylesheet" type="text/css">

  <!-- External javascripts -->
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/javascript-plugins-bundle.min.js"></script>
  <script src="js/menuzord/js/menuzord.js"></script>

</head>

<body class="tm-container-1300px has-side-panel side-panel-right">
  <%- include('../partials/headerTop.ejs') %>
    <li class="active menu-item">
      <a href="#">Home</a>
    </li>
    <li class="menu-item">
      <a href="/services">Services</a>
    </li>
    <li class="menu-item">
      <a href="/about">About</a>
    </li>
    <li class="menu-item">
      <a href="/contact">Contact</a>
    </li>
    <li class="menu-item">
      <a href="/checkout">Telehealth &amp; Labs</a>
    </li>
    <li class="menu-item">
      <a id="account_page" class="d-none" href="/account">Account</a>
    </li>
    <li class="menu-item">
      <a class="d-none" href="/dashboard" id="admin_link">Admin Dashboard</a>
    </li>
    <li class="menu-item">
      <a href="/login" id="login_link">Sign In</a>
      <a href="#" id="logout_link" class="d-none">Sign out</a>
    </li>

    <%- include('../partials/headerBottom.ejs') %>
      <!-- Start main-content -->
      <div class="main-content-area">
        <!-- Section: Home -->
        <section class="">
          <!-- owl-animated-slider -->
          <div class="tm-owl-slider">
            <div class="slider-wrapper tm-owl-carousel-1col owl-theme owl-carousel" data-dots="true" data-nav="true"
              data-duration="12000">
              <div class="slide-item d-flex align-items-center">
                <div class="image-layer" data-tm-bg-img="images/testrxmd/bg-rob-hero-home.jpeg"></div>
                <div class="container" data-tm-padding-top="250px" data-tm-padding-bottom="250px">
                  <div class="row">
                    <div class="col-lg-7">
                      <div class="content-box section-typo-light">
                        <h1 class="title mt-0" data-tm-font-size="4rem">Testosterone Therapy</h1>
                        <h3 class="sub-title mb-0">Specializing in testosterone replacement therapy to optimize
                          performance, strength, focus and endurance</h3>
                        <p class="paragraph">We offer a wide range of care with a primary focus in: TRT/HRT, Weight
                          Management, Energy solutions and ED Treatment</p>
                        <div class="btn-wrapper">
                          <a href="/services" class="btn btn-outline-light mr-10">Learn More</a>
                          <a href="#" class="btn btn-theme-colored2">Contact Us</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </section>

        <!-- Section: welcome -->
        <section id="welcome" class="divider layer-overlay overlay-white-9 parallax pb-5" data-parallax-ratio="0.1"
          data-tm-bg-img="images/bg/bg2.jpg">
          <div class="container pb-0 pb-lg-90">
            <div class="section-content">
              <div class="row">
                <div class="mb-md-30 col-sm-12 col-lg-4 col-md-6">
                  <div class="tm-element-holder tm-fullwidth open-hours p-30 border-10px border-dark">
                    <div class="tm-element-holder-wrapper">
                      <div class="tm-element-holder-content">
                        <h5 class="mt-0"><i class="far fa-clock text-theme-colored1"></i> Clinic Hours</h5>
                        <ul class="tm-sc-opening-hours tm-sc-opening-hours-compressed opening-hours border-light">
                          <li class="clearfix">
                            <span>Monday - Friday</span>
                            <div class="value">8:00am - 5:00pm EST</div>
                          </li>
                          <li class="clearfix">
                            <span>Saturday</span>
                            <div class="value">Closed</div>
                          </li>
                          <li class="clearfix">
                            <span>Sunday</span>
                            <div class="value">Closed</div>
                          </li>
                        </ul>
                        <h5><i class="fas fa-id-card text-theme-colored1"></i> Online Appointments Available!</h5>
                        <p>Can't make it to the clinic? We can see you online. Click below to get started</p>
                        <div class="tm-sc-button text-center"> <a href="/checkout" target="_self"
                            class="btn btn-theme-colored1 btn-sm">Get Started </a></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mb-md-30 col-sm-12 col-lg-4 col-md-6">
                  <h2 class="mt-5">TestRxMD</h2>
                  <p><em>TestRx MD is dedicated to helping you find the best version of yourself. We are here to help
                      discover that new you through our featured services.</em></p>
                  <p>If you have a busy schedule and can't make it in to the office, no problem. We can do your
                    appointment online! Our team can do a tele-health consultation to talk about your goals and discuss
                    your therapy options.</p>
                </div>

                <div class="col-sm-12 col-lg-4 hidden-md-down">
                  <img width="340" height="464" src="images/testrxmd/services-weightlifter.jpeg"
                    class="attachment-large" alt="images" />
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Affiliate -->
        <section class="bg-theme-colored1 section-typo-light">
          <div class="container pt-50 pb-20">
            <div class="row">
              <div class="col-md-9">
                <p class="lead text-center">Become a TestRxMD affiliate and get discounts on your therapy! Each person
                  who signs up
                  using your code means more discounts for you
                </p>
              </div>
              <div class="col-md-3 pb-3 text-center">
                <a id="voltage_btn_link" href="/affiliate">
                  <div class="voltage-button">
                    <button id="voltage_btn_title">Sign Up</button>
                    <!-- SVG Party -->
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                      x="0px" y="0px" viewBox="0 0 234.6 61.3" preserveAspectRatio="none" xml:space="preserve">
                      <filter id="glow">
                        <fegaussianblur class="blur" result="coloredBlur" stddeviation="2"></fegaussianblur>
                        <feTurbulence type="fractalNoise" baseFrequency="0.075" numOctaves="0.3" result="turbulence">
                        </feTurbulence>
                        <feDisplacementMap in="SourceGraphic" in2="turbulence" scale="30" xChannelSelector="R"
                          yChannelSelector="G" result="displace"></feDisplacementMap>
                        <femerge>
                          <femergenode in="coloredBlur"></femergenode>
                          <femergenode in="coloredBlur"></femergenode>
                          <femergenode in="coloredBlur"></femergenode>
                          <femergenode in="displace"></femergenode>
                          <femergenode in="SourceGraphic"></femergenode>
                        </femerge>
                      </filter>
                      <path class="voltage line-1"
                        d="m216.3 51.2c-3.7 0-3.7-1.1-7.3-1.1-3.7 0-3.7 6.8-7.3 6.8-3.7 0-3.7-4.6-7.3-4.6-3.7 0-3.7 3.6-7.3 3.6-3.7 0-3.7-0.9-7.3-0.9-3.7 0-3.7-2.7-7.3-2.7-3.7 0-3.7 7.8-7.3 7.8-3.7 0-3.7-4.9-7.3-4.9-3.7 0-3.7-7.8-7.3-7.8-3.7 0-3.7-1.1-7.3-1.1-3.7 0-3.7 3.1-7.3 3.1-3.7 0-3.7 10.9-7.3 10.9-3.7 0-3.7-12.5-7.3-12.5-3.7 0-3.7 4.6-7.3 4.6-3.7 0-3.7 4.5-7.3 4.5-3.7 0-3.7 3.6-7.3 3.6-3.7 0-3.7-10-7.3-10-3.7 0-3.7-0.4-7.3-0.4-3.7 0-3.7 2.3-7.3 2.3-3.7 0-3.7 7.1-7.3 7.1-3.7 0-3.7-11.2-7.3-11.2-3.7 0-3.7 3.5-7.3 3.5-3.7 0-3.7 3.6-7.3 3.6-3.7 0-3.7-2.9-7.3-2.9-3.7 0-3.7 8.4-7.3 8.4-3.7 0-3.7-14.6-7.3-14.6-3.7 0-3.7 5.8-7.3 5.8-2.2 0-3.8-0.4-5.5-1.5-1.8-1.1-1.8-2.9-2.9-4.8-1-1.8 1.9-2.7 1.9-4.8 0-3.4-2.1-3.4-2.1-6.8s-9.9-3.4-9.9-6.8 8-3.4 8-6.8c0-2.2 2.1-2.4 3.1-4.2 1.1-1.8 0.2-3.9 2-5 1.8-1 3.1-7.9 5.3-7.9 3.7 0 3.7 0.9 7.3 0.9 3.7 0 3.7 6.7 7.3 6.7 3.7 0 3.7-1.8 7.3-1.8 3.7 0 3.7-0.6 7.3-0.6 3.7 0 3.7-7.8 7.3-7.8h7.3c3.7 0 3.7 4.7 7.3 4.7 3.7 0 3.7-1.1 7.3-1.1 3.7 0 3.7 11.6 7.3 11.6 3.7 0 3.7-2.6 7.3-2.6 3.7 0 3.7-12.9 7.3-12.9 3.7 0 3.7 10.9 7.3 10.9 3.7 0 3.7 1.3 7.3 1.3 3.7 0 3.7-8.7 7.3-8.7 3.7 0 3.7 11.5 7.3 11.5 3.7 0 3.7-1.4 7.3-1.4 3.7 0 3.7-2.6 7.3-2.6 3.7 0 3.7-5.8 7.3-5.8 3.7 0 3.7-1.3 7.3-1.3 3.7 0 3.7 6.6 7.3 6.6s3.7-9.3 7.3-9.3c3.7 0 3.7 0.2 7.3 0.2 3.7 0 3.7 8.5 7.3 8.5 3.7 0 3.7 0.2 7.3 0.2 3.7 0 3.7-1.5 7.3-1.5 3.7 0 3.7 1.6 7.3 1.6s3.7-5.1 7.3-5.1c2.2 0 0.6 9.6 2.4 10.7s4.1-2 5.1-0.1c1 1.8 10.3 2.2 10.3 4.3 0 3.4-10.7 3.4-10.7 6.8s1.2 3.4 1.2 6.8 1.9 3.4 1.9 6.8c0 2.2 7.2 7.7 6.2 9.5-1.1 1.8-12.3-6.5-14.1-5.5-1.7 0.9-0.1 6.2-2.2 6.2z"
                        fill="transparent" stroke="#fff" />
                      <path class="voltage line-2"
                        d="m216.3 52.1c-3 0-3-0.5-6-0.5s-3 3-6 3-3-2-6-2-3 1.6-6 1.6-3-0.4-6-0.4-3-1.2-6-1.2-3 3.4-6 3.4-3-2.2-6-2.2-3-3.4-6-3.4-3-0.5-6-0.5-3 1.4-6 1.4-3 4.8-6 4.8-3-5.5-6-5.5-3 2-6 2-3 2-6 2-3 1.6-6 1.6-3-4.4-6-4.4-3-0.2-6-0.2-3 1-6 1-3 3.1-6 3.1-3-4.9-6-4.9-3 1.5-6 1.5-3 1.6-6 1.6-3-1.3-6-1.3-3 3.7-6 3.7-3-6.4-6-6.4-3 2.5-6 2.5h-6c-3 0-3-0.6-6-0.6s-3-1.4-6-1.4-3 0.9-6 0.9-3 4.3-6 4.3-3-3.5-6-3.5c-2.2 0-3.4-1.3-5.2-2.3-1.8-1.1-3.6-1.5-4.6-3.3s-4.4-3.5-4.4-5.7c0-3.4 0.4-3.4 0.4-6.8s2.9-3.4 2.9-6.8-0.8-3.4-0.8-6.8c0-2.2 0.3-4.2 1.3-5.9 1.1-1.8 0.8-6.2 2.6-7.3 1.8-1 5.5-2 7.7-2 3 0 3 2 6 2s3-0.5 6-0.5 3 5.1 6 5.1 3-1.1 6-1.1 3-5.6 6-5.6 3 4.8 6 4.8 3 0.6 6 0.6 3-3.8 6-3.8 3 5.1 6 5.1 3-0.6 6-0.6 3-1.2 6-1.2 3-2.6 6-2.6 3-0.6 6-0.6 3 2.9 6 2.9 3-4.1 6-4.1 3 0.1 6 0.1 3 3.7 6 3.7 3 0.1 6 0.1 3-0.6 6-0.6 3 0.7 6 0.7 3-2.2 6-2.2 3 4.4 6 4.4 3-1.7 6-1.7 3-4 6-4 3 4.7 6 4.7 3-0.5 6-0.5 3-0.8 6-0.8 3-3.8 6-3.8 3 6.3 6 6.3 3-4.8 6-4.8 3 1.9 6 1.9 3-1.9 6-1.9 3 1.3 6 1.3c2.2 0 5-0.5 6.7 0.5 1.8 1.1 2.4 4 3.5 5.8 1 1.8 0.3 3.7 0.3 5.9 0 3.4 3.4 3.4 3.4 6.8s-3.3 3.4-3.3 6.8 4 3.4 4 6.8c0 2.2-6 2.7-7 4.4-1.1 1.8 1.1 6.7-0.7 7.7-1.6 0.8-4.7-1.1-6.8-1.1z"
                        fill="transparent" stroke="#fff" />
                    </svg>
                    <div class="dots">
                      <div class="dot dot-1"></div>
                      <div class="dot dot-2"></div>
                      <div class="dot dot-3"></div>
                      <div class="dot dot-4"></div>
                      <div class="dot dot-5"></div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </section>

        <!-- Section: Services -->
        <section id="services" class="divider parallax layer-overlay overlay-white-8" data-parallax-ratio="0.1"
          data-tm-bg-img="images/bg/bg17.jpg">
          <div class="container">
            <div class="section-content">
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-7">
                  <h2>Our Services</h2>
                  <p>We offer a wide range of care with a primary focus in: TRT/HRT, Weight Management, Nootropics,
                    Peptide Therapy,
                    and ED Treatment</p>
                  <div class="row mb-10">
                    <div class="col-sm-6">
                      <div
                        class="tm-sc-icon-box icon-box icon-left tm-iconbox-icontype-font-icon text-left iconbox-centered-in-responsive iconbox-theme-colored1 icon-position-icon-left mb-30">
                        <div class="icon-box-wrapper">
                          <a class="icon icon-type-font-icon icon-gray mb-20"> <i
                              class="flaticon-medical-ambulance14"></i> </a>
                          <div class="icon-text">
                            <h5 class="icon-box-title"> Hormone Therapy</h5>
                            <div class="content">
                              <p>We will customize a hormone treatment plan based on your individual needs. We will
                                actively monitor your hormone levels and make changes as needed to regain the vitality
                                of
                                your youth.</p>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div
                        class="tm-sc-icon-box icon-box icon-left tm-iconbox-icontype-font-icon text-left iconbox-centered-in-responsive iconbox-theme-colored1 icon-position-icon-left mb-30">
                        <div class="icon-box-wrapper">
                          <a class="icon icon-type-font-icon icon-gray mb-20"> <i class="flaticon-medical-illness"></i>
                          </a>
                          <div class="icon-text">
                            <h5 class="icon-box-title">Testosterone Therapy</h5>
                            <div class="content">
                              <p>We provide a personalized complete testosterone program based upon your goals. Whether
                                you want to be more performance oriented, or just want to have energy and libido like
                                you
                                used to, we can get you there!</p>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-10">
                    <div class="col-sm-6">
                      <div
                        class="tm-sc-icon-box icon-box icon-left tm-iconbox-icontype-font-icon text-left iconbox-centered-in-responsive iconbox-theme-colored1 icon-position-icon-left mb-30">
                        <div class="icon-box-wrapper">
                          <a class="icon icon-type-font-icon icon-gray mb-20"> <i
                              class="flaticon-medical-stethoscope10"></i> </a>
                          <div class="icon-text">
                            <h5 class="icon-box-title">ED Treatment</h5>
                            <div class="content">
                              <p>We know this isn't the most fun topic to discuss. We have a variety of solutions for
                                both
                                male and female issues. Make an appointment today to see what your options are!</p>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div
                        class="tm-sc-icon-box icon-box icon-left tm-iconbox-icontype-font-icon text-left iconbox-centered-in-responsive iconbox-theme-colored1 icon-position-icon-left mb-30 ">
                        <div class="icon-box-wrapper">
                          <a class="icon icon-type-font-icon icon-gray mb-20"> <i class="flaticon-medical-balls"></i>
                          </a>
                          <div class="icon-text">
                            <h5 class="icon-box-title">Weight Loss &amp; Weight Control</h5>
                            <div class="content">
                              <p>Our Medical Weight Loss program provides an effective and simple plan to help you
                                easily
                                achieve your weight loss goals and maintain a healthy weight.</p>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- FAQ -->
                <div id="indexFAQ" class="col-sm-12 col-md-12 col-lg-5">
                  <img src="images/about/w6.jpg" class="attachment-full mb-10" alt="images" />
                  <div class="accordion tm-accordion accordion-classic accordion-theme-colored1" id="accordion500">

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading503">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapse501" aria-expanded="false" aria-controls="collapse501">
                          <strong>What is covered in our ALL-INCLUSIVE therapies?</strong>
                        </button>
                      </h2>
                      <div id="collapse501" class="accordion-collapse collapse show" aria-labelledby="heading501"
                        data-bs-parent="#accordion500">
                        <div class="accordion-body">
                          <strong>After the initial lab draw ($<%=products.find(e=>e?.product_name=="Labwork & Telehealth Consult")?.price%>), the following will be included in your monthly
                            fee:</strong>
                          <ul>
                            <li>😷 - Doctor Consults/Physical Exams</li>
                            <li>🩸 - Quarterly Labs (more if needed)</li>
                            <li>💊 - Cost of Medication (and any supplies needed to administer)</li>
                            <li>📦 - Cost of expedited shipping to your door!</li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading502">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapse502" aria-expanded="false" aria-controls="collapse502">
                          <strong>Do you accept insurance?</strong>
                        </button>
                      </h2>
                      <div id="collapse502" class="accordion-collapse collapse" aria-labelledby="heading502"
                        data-bs-parent="#accordion500">
                        <div class="accordion-body">
                          <strong>We don’t accept insurance for a couple of reasons:</strong>
                          <ol type="i">
                            <li>In our experience less than 10-15% of clients would have levels low enough
                              for insurance to cover their therapy. If they do decide to cover the cost of your therapy,
                              and subsequent lab
                              results come back normal/high, you would be at risk of losing
                              coverage of your therapy altogether.</li>
                            <li>By not taking insurance we are able to treat the client as we see fit. We don’t
                              have insurance companies dictating how we are able to practice medicine. We truly believe
                              this
                              brings a much higher level of care to the client. I encourage you to see what you think.
                            </li>
                          </ol>
                          <p class="mt-3 mb--10">We do accept HSA/Flex spending cards. This is a feature that a lot of
                            clients like to
                            take
                            advantage of. Keeps more money in your bank account.</p>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading503">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapse503" aria-expanded="false" aria-controls="collapse503">
                          <strong>How long does it take to get my meds?</strong>
                        </button>
                      </h2>
                      <div id="collapse503" class="accordion-collapse collapse" aria-labelledby="heading503"
                        data-bs-parent="#accordion500">
                        <div class="accordion-body">
                          <ol type="I">
                            <li> <strong>If you need labs drawn:</strong></li>
                            <ol type="a">
                              <li>After the lab draw is conducted, we schedule a follow-up appointment for a week out.
                                This
                                gives the lab plenty of time to post your results. Normally the results come back after
                                3-4 days, but we build in a cushion for any
                                delays.
                                If
                                your labs get posted earlier, you’ll have access through our patient portal. You will
                                receive
                                an email with a link to your results.</li>

                              <li>After the follow-up appointment any medication deemed necessary will be sent in to our
                                mail-order compounding pharmacy. We use expedited (FedEx 2nd Day) shipping (no sig req..
                                if
                                you would like to require a signature.. just ask).</li>
                              <li>From start to finish you are looking at around 10 days until meds
                                arrive at your door in a FedEx box.</li>
                            </ol>
                            <li class="mt-3">
                              <strong>If you already have current labs (within the last 3 months):</strong>
                            </li>
                            <ol type="a">
                              <li>You get to essentially skip ahead to part b in the previous section.</li>
                              <li>From start to finish,
                                after your consult, you would be looking at around 3 days (1 day to process
                                and 2-day shipping).</li>
                            </ol>
                          </ol>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading504">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapse504" aria-expanded="true" aria-controls="collapse504">
                          <strong>How much does it cost?</strong>
                        </button>
                      </h2>
                      <div id="collapse504" class="accordion-collapse collapse " aria-labelledby="heading504"
                        data-bs-parent="#accordion500">
                        <div class="accordion-body">
                          We charge $<%=products.find(e=>e?.product_name=="Labwork & Telehealth Consult")?.price%> for initial bloodwork/labs (we can use labs that have been
                          drawn in the last 3 months). Therapies vary in cost but start at <%
                          const minPrice = treatment.reduce((min, product) => {
                            if (product.price < min) {
                              return product.price;
                            }
                            return min;
                          }, Infinity);
                          const minTRTPrice = treatment.reduce((min, product) => {
                            if (product.product_name.toLowerCase().includes('trt')&&product.price < min) {
                              return product.price;
                            }
                            return min;
                          }, Infinity);
                          %>
                          $<%= minPrice %>
                          /month (TRT specifically
                          starts at $<%= minTRTPrice %>/month). All subsequent lab draws/consults would be included in your monthly
                          rate for
                          whatever therapy you choose.
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Section: Testimonial-->
        <section class="bg-theme-colored12-gradient">
          <div class="container pt-90 pb-90">
            <div class="section-content">
              <div class="row justify-content-md-center">
                <div class="col-sm-8">
                  <div
                    class="tm-sc-testimonials tm-sc-testimonials-carousel testimonial-style2-centered-aligned owl-dots-light-skin owl-dots-center testimonial-has-quote-icon mt-80 mt-md-30">
                    <!-- Isotope Gallery Grid -->
                    <div id="testimonials-holder-877347" class="owl-carousel owl-theme tm-owl-carousel-1col"
                      data-dots="true" data-autoplay="true" data-loop="true" data-duration="6000" data-smartspeed="300"
                      data-margin="30" data-stagepadding="0">
                      <!-- the loop -->
                      <div class="tm-carousel-item">
                        <div id="post-181"
                          class="tm-testimonial post-181 testimonials type-testimonials status-publish has-post-thumbnail hentry">
                          <div class="testimonial-inner">
                            <div class="testimonial-text-holder">
                              <div class="author-text">
                                I love these guys, they are spectacular. John is very knowledgeable, and they have
                                helped me tremendously. I'm back at the top of my game and honestly feel better than I
                                have in
                                years. So glad I found this place!
                              </div>
                              <div class="star-rating">
                                <span style="width: 100%"></span>
                              </div>
                            </div>
                            <div class="testimonial-author-details">
                              <div class="testimonial-image-holder">
                                <div class="author-thumb">
                                  <img width="75" height="75" src="images/testimonials/1.jpg"
                                    class="img-thumbnail rounded-circle" alt="images" />
                                </div>
                              </div>
                              <div class="testimonial-author-info-holder">
                                <h5 class="name">Brandon Hinton</h5>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tm-carousel-item">
                        <div id="post-180"
                          class="tm-testimonial post-180 testimonials type-testimonials status-publish has-post-thumbnail hentry">
                          <div class="testimonial-inner">
                            <div class="testimonial-text-holder">
                              <div class="author-text">
                                If you guys out there are looking for testosterone replacement therapy, look no
                                further! These guys are awesome, helpful and go the extra mile for their patients! Can't
                                suggest this place enough.
                              </div>
                              <div class="star-rating">
                                <span style="width: 100%"></span>
                              </div>
                            </div>
                            <div class="testimonial-author-details">
                              <div class="testimonial-image-holder">
                                <div class="author-thumb">
                                  <img width="75" height="75" src="images/testimonials/2.jpg"
                                    class="img-thumbnail rounded-circle" alt="images" />
                                </div>
                              </div>
                              <div class="testimonial-author-info-holder">
                                <h5 class="name">Jimmy Leinbach</h5>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tm-carousel-item">
                        <div id="post-178"
                          class="tm-testimonial post-178 testimonials type-testimonials status-publish has-post-thumbnail hentry">
                          <div class="testimonial-inner">
                            <div class="testimonial-text-holder">
                              <div class="author-text">
                                The products at TestRxMD are excellent and have made a huge difference for me!
                                So happy I took the leap and
                                gave this place a shot. Looking for cutting-edge Nootropics or Testosterone?
                                This is the place to call.
                              </div>
                              <div class="star-rating">
                                <span style="width: 84%"></span>
                              </div>
                            </div>
                            <div class="testimonial-author-details">
                              <div class="testimonial-image-holder">
                                <div class="author-thumb">
                                  <img width="75" height="75" src="images/testimonials/3.png"
                                    class="img-thumbnail rounded-circle" alt="images">
                                </div>
                              </div>
                              <div class="testimonial-author-info-holder">
                                <h5 class="name">Jacob Briggs</h5>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tm-carousel-item">
                        <div id="post-171"
                          class="tm-testimonial post-171 testimonials type-testimonials status-publish has-post-thumbnail hentry">
                          <div class="testimonial-inner">
                            <div class="testimonial-text-holder">
                              <div class="author-text">
                                Great service, super friendly, and everything works as described. These guys really know
                                their stuff. Been doing TrT and
                                Sermorelin and my body hasn't felt this good in years!!!
                              </div>
                              <div class="star-rating">
                                <span style="width: 96%"></span>
                              </div>
                            </div>
                            <div class="testimonial-author-details">
                              <div class="testimonial-image-holder">
                                <div class="author-thumb">
                                  <img width="75" height="75" src="images/testimonials/4.png"
                                    class="img-thumbnail rounded-circle" alt="images" />
                                </div>
                              </div>
                              <div class="testimonial-author-info-holder">
                                <h5 class="name">Roger Finnigan</h5>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- end of the loop -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Divider -->

        <!-- Section: Experts -->
        <section id="experts" class="divider parallax layer-overlay overlay-white-6" data-parallax-ratio="0.1"
          data-tm-bg-img="images/medicine/bg6.jpg">
          <div class="container">
            <div class="section-title">
              <div class="row justify-content-md-center">
                <div class="col-md-8">
                  <div class="text-center mb-60">
                    <div class="tm-sc-section-title section-title section-title-style1 text-center">
                      <div class="title-wrapper">
                        <h2 class="title icon-bottom"> <span class="">Popular </span> <span
                            class="text-theme-colored1">Treatments</span></h2>
                        <div class="title-seperator-line"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="section-content">
              <div class="row">
                <div class="col-sm-12">
                  <div class="tm-sc-staff tm-sc-staff-carousel staff-style3-modern owl-dots-light-skin owl-dots-center">
                    <!-- Isotope Gallery Grid -->
                    <div id="staff-holder-945632" class="owl-carousel owl-theme tm-owl-carousel-4col" data-nav="true"
                      data-autoplay="true" data-loop="true" data-duration="6000" data-smartspeed="300" data-margin="30"
                      data-stagepadding="0">
                      <!-- the loop -->
                      <div class="tm-carousel-item">
                        <div class="tm-staff">
                          <div class="staff-inner">
                            <div class="box-hover-effect">
                              <div class="staff-header effect-wrapper">
                                <div class="thumb">
                                  <img src="images/testrxmd/trt.png" class="img-fullwidth" alt="images" />
                                </div>
                                <div class="overlay-shade shade-white"></div>
                              </div>
                              <div class="staff-content">
                                <h5 class="name">TRT/HRT:</h5>
                                <div class="speciality">TRT: STARTING AT $<%= minTRTPrice %>/MONTH<br>
                                  HRT: INDIVIDUALIZED PLANS</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="tm-carousel-item">
                        <div class="tm-staff">
                          <div class="staff-inner">
                            <div class="box-hover-effect">
                              <div class="staff-header effect-wrapper">
                                <div class="thumb">
                                  <img src="images/testrxmd/weight.png" class="img-fullwidth" alt="images" />
                                </div>
                                <div class="overlay-shade shade-white"></div>
                              </div>
                              <div class="staff-content">
                                <h5 class="name">WEIGHT-LOSS:</h5>
                                <div class="speciality">STIMULANT-BASED AND NON-STIMULANT BASED THERAPIES</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="tm-carousel-item">
                        <div class="tm-staff">
                          <div class="staff-inner">
                            <div class="box-hover-effect">
                              <div class="staff-header effect-wrapper">
                                <div class="thumb">
                                  <img src="images/testrxmd/peptide.png" class="img-fullwidth" alt="images" />
                                </div>
                                <div class="overlay-shade shade-white"></div>
                              </div>
                              <div class="staff-content">
                                <h5 class="name">GH Peptide Therapy</h5>
                                <div class="speciality">SERMORELIN, IPAMORELIN, CJC&dash;1295
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="tm-carousel-item">
                        <div class="tm-staff">
                          <div class="staff-inner">
                            <div class="box-hover-effect">
                              <div class="staff-header effect-wrapper">
                                <div class="thumb">
                                  <img src="images/testrxmd/semax.webp" class="img-fullwidth" alt="images" />
                                </div>
                                <div class="overlay-shade shade-white"></div>
                              </div>
                              <div class="staff-content">
                                <h5 class="name">NOOTROPICS</h5>
                                <div class="speciality">WE OFFER BOTH SEMAX AND SELANK NASAL SPRAY
                                </div>
                                <ul class="contact-info">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="tm-carousel-item">
                        <div class="tm-staff">
                          <div class="staff-inner">
                            <div class="box-hover-effect">
                              <div class="staff-header effect-wrapper">
                                <div class="thumb">
                                  <img src="images/testrxmd/ed.webp" class="img-fullwidth" alt="images" />
                                </div>
                                <div class="overlay-shade shade-white"></div>
                              </div>
                              <div class="staff-content">
                                <h5 class="name">ED TREATMENT</h5>
                                <div class="speciality">TADALAFIL, SILDENAFIL, PT&dash;141, OXYTOCIN, ETC.</div>
                                <ul class="contact-info">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="tm-carousel-item">
                        <div class="tm-staff">
                          <div class="staff-inner">
                            <div class="box-hover-effect">
                              <div class="staff-header effect-wrapper">
                                <div class="thumb">
                                  <img src="images/testrxmd/LabDraw.webp" class="img-fullwidth" alt="images" />
                                </div>
                                <div class="overlay-shade shade-white"></div>
                              </div>
                              <div class="staff-content">
                                <h5 class="name">LABWORK</h5>
                                <div class="speciality">WE OFFER PER&dash;BASIS LAB DRAWS $<%=products.find(e=>e?.product_name=="Labwork & Telehealth Consult")?.price%></div>
                                <ul class="contact-info">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- end main-content -->

      <!-- Bot -->

        <!-- Footer -->
        <%- include('../partials/footer') %>

          <!-- Footer Scripts -->
          <script src="js/custom.js"></script>
          <script src="js/api_call.js"></script>
</body>

</html>
