<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>

  <!-- Meta Tags -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="description" content="TestRxMD" />
  <meta name="keywords"
    content="testrxmd, clinic, testosterone, hormone, therapy, ed, erectile dysfunction, supplements, doctor, medical, energy, shop, medication, indiana, columbus, neiters" />
  <meta name="author" content="Jacob Briggs" />

  <!-- Page Title -->
  <title>TestRxMD</title>

  <!-- Favicon and Touch Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
  <link rel="manifest" href="images/site.webmanifest">

  <!-- Stylesheet -->
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="css/animate.min.css" rel="stylesheet" type="text/css">
  <link href="css/javascript-plugins-bundle.css" rel="stylesheet" />
  <!-- <script src="https://www.google.com/recaptcha/api.js"></script> -->

  <!-- CSS | menuzord megamenu skins -->
  <link href="js/menuzord/css/menuzord.css" rel="stylesheet" />

  <!-- CSS | Main style file -->
  <link href="css/style-main.css" rel="stylesheet" type="text/css">
  <link id="menuzord-menu-skins" href="css/menuzord-skins/menuzord-rounded-boxed.css" rel="stylesheet" />

  <!-- CSS | Responsive media queries -->
  <link href="css/responsive.css" rel="stylesheet" type="text/css">

  <!-- CSS | Theme Color -->
  <link href="css/colors/theme-colors.css" rel="stylesheet" type="text/css">

  <!-- External javascripts -->
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/javascript-plugins-bundle.min.js"></script>
  <script src="js/menuzord/js/menuzord.js"></script>

  <link href="style.css" rel="stylesheet" type="text/css">
  <style>
    body {
      background-color: #f9f9f9;
    }
    .video-container {
      position: relative;
      padding-bottom: 50%; /* 16:9 aspect ratio */
      /* height: 0; */
    }
    .video-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .playlist {
      max-height: 800px; /* Set the maximum height for the playlist */
      overflow-y: auto;  /* Enable vertical scrolling */
      padding-right: 10px; /* To avoid cutting off scrollbar */
    }
    video,img{
    border-radius: 10px;
    }
    img{
      height: 170px
    }
    /* .playlist-item{
      width: 100%;
      height: 100px;
    } */
    .text-title{
      margin-bottom: 2px;
    }
    .text-muted{
      margin-bottom: 15px;
    }
  </style>
</head>
<%- include('../partials/headerTop.ejs') %>
  <li class="menu-item">
    <a href="/">Home</a>
  </li>
  <li class="menu-item">
    <a href="/services">Services</a>
  </li>
  <li class="menu-item">
    <a href="/about">About</a>
  </li>
  <li class="menu-item">
    <a href="/contact">Contact</a>
  </li>
  <li class="menu-item">
    <a href="/checkout">Telehealth &amp; Labs</a>
  </li>
  <li class="menu-item">
    <a id="account_page" class="d-none" href="/account">Account</a>
  </li>
  <li class="menu-item">
    <a class="d-none" href="/dashboard" id="admin_link">Admin Dashboard</a>
  </li>
  <li class="menu-item">
    <a href="/login" id="login_link">Sign In</a>
    <a href="#" id="logout_link" class="d-none">Sign out</a>
  </li>

  <%- include('../partials/headerBottom.ejs') %>

    <body class="tm-container-1300px has-side-panel side-panel-right">

      <!-- Start main-content -->
      <div class="main-content-area">

        <!-- Section: page title -->
        <section class="page-title layer-overlay overlay-dark-9 section-typo-light bg-img-center"
          data-tm-bg-img="images/bg/bg1.jpg">
          <div class="container pt-50 pb-50">
            <div class="section-content">
              <div class="row">
                <div class="col-md-12 text-center">
                  <h2 class="title">Podcast</h2>
                  <nav class="breadcrumbs" role="navigation" aria-label="Breadcrumbs">
                    <div class="breadcrumbs">
                      <span><a href="#" rel="home">Home</a></span>
                      <span><i class="fa fa-angle-right"></i></span>
                      <span><a href="#">Podcast</a></span>
                    </div>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- preloading -->
        <div id="loading">
          <div class="col-3 load-cont">
            <div class="snippet" data-title="dot-pulse">
              <div class="stage">
                <div class="dot-pulse"></div>
              </div>
            </div>
          </div>
        </div>

        <!-- podcast display start -->        
            <div class="container mt-4">
              <div class="row">
                <!-- Left column - currently playing video -->
                <div class="col-md-8">
                  <div class="video-container" style="text-align: center;">
                      <video id="main-video" controls style="width: 100%; max-width: 700px;aspect-ratio: 16 / 9;">
                          <source id="main-video-source" src="<%= podcast.url%>">
                          Your browser does not support the video tag.
                      </video>
                      <p class="text-title">
                        <h4 id="main-video-title"><%= podcast.title %> <span>@<%=new Date(podcast.createdAt).toDateString() %></span></h4>
                    </p>
                  </div>
              </div>
          <!-- <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/37i9dQZF1DWXnexX7CktaI?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe> -->

          
                <!-- Right column - playlist (with scroll) -->
                <div class="col-md-4">
                  <div class="playlist">
                      <% podcasts.forEach(function(podcast) { %>
                          <a href="javascript:void(0)" class="playlist-item" data-key="<%= podcast.video_key %>">
                              <div class="playlist-thumbnail">
                                  <img src="<%= podcast.thumbnail||`images/video-thumbnail.jpg` %>" alt="<%= podcast.title %>"/>
                              </div>
                              <div class="playlist-details">
                                  <p class="text-title">
                                      <h4><%= podcast.title %> <span>@<%=new Date(podcast.createdAt).toDateString()%></span></h4>
                                  </p>
                              </div>
                          </a>
                      <% }); %>
                  </div>
                </div>
              </div>
            </div>
        <!-- podcast display end -->
      

      </div>
      <!-- end main-content -->
      <%- include('../partials/footer') %>
        <!-- Footer Scripts -->
        <!-- JS | Custom script for all pages -->
        <script src="js/api_call.js"></script>

    </body>

</html>
