<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>

  <!-- Meta Tags -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="description" content="TestRxMD" />
  <meta name="keywords"
    content="testrxmd, clinic, testosterone, hormone, therapy, ed, erectile dysfunction, supplements, doctor, medical, energy, shop, medication, indiana, columbus, neiters" />
  <meta name="author" content="Jacob Briggs" />

  <!-- Page Title -->
  <title>TestRxMD</title>

  <!-- Favicon and Touch Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
  <link rel="manifest" href="images/site.webmanifest">

  <!-- Stylesheet -->
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="css/animate.min.css" rel="stylesheet" type="text/css">
  <link href="css/javascript-plugins-bundle.css" rel="stylesheet" />
  <!-- <script src="https://www.google.com/recaptcha/api.js"></script> -->

  <link href="style.css" rel="stylesheet" type="text/css">

  <!-- CSS | menuzord megamenu skins -->
  <link href="js/menuzord/css/menuzord.css" rel="stylesheet" />
  <link href="css/tooltip.css" rel="stylesheet" />

  <!-- CSS | Main style file -->
  <link href="css/style-main.css" rel="stylesheet" type="text/css">
  <link id="menuzord-menu-skins" href="css/menuzord-skins/menuzord-rounded-boxed.css" rel="stylesheet" />

  <!-- CSS | Responsive media queries -->
  <link href="css/responsive.css" rel="stylesheet" type="text/css">

  <!-- CSS | Theme Color -->
  <link href="css/colors/theme-colors.css" rel="stylesheet" type="text/css">

  <!-- External javascripts -->
  <script src="js/jquery.min.js"></script>
  <!-- <script src="js/popper.min.js"></script> -->
  <script src="js/bootstrap.min.js"></script>
  <script src="js/javascript-plugins-bundle.min.js"></script>
  <script src="js/menuzord/js/menuzord.js"></script>

  <!-- REVOLUTION STYLE SHEETS -->
  <link rel="stylesheet" type="text/css" href="js/revolution-slider/css/rs6.css">
  <link rel="stylesheet" type="text/css" href="js/revolution-slider/extra-rev-slider-shop.css">
  <!-- REVOLUTION LAYERS STYLES -->
  <!-- REVOLUTION JS FILES -->
  <script src="js/revolution-slider/js/revolution.tools.min.js"></script>
  <script src="js/revolution-slider/js/rs6.min.js"></script>
  <script src="js/revolution-slider/extra-rev-slider-shop.js"></script>

  <!-- timeline-horizontal-vertical -->
  <link href="js/timeline-horizontal-vertical/css/timeline-horizontal-vertical.css" rel="stylesheet" type="text/css">
  <script src="js/timeline-horizontal-vertical/js/timeline-horizontal-vertical.min.js"></script>
  <script src="js/timeline-horizontal-vertical/js/custom.js"></script>

</head>

<body class="tm-container-1300px has-side-panel side-panel-right">
  <%- include('../partials/headerTop.ejs') %>
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <li class="menu-item">
      <a href="/services">Services</a>
    </li>
    <li class="menu-item">
      <a href="/about">About</a>
    </li>
    <li class="menu-item">
      <a href="/contact">Contact</a>
    </li>
    <li class="menu-item active">
      <a href="#">Telehealth &amp; Labs</a>
    </li>
    <li class="menu-item">
      <a id="account_page" class="d-none" href="/account">Account</a>
    </li>
    <li class="menu-item">
      <a class="d-none" href="/dashboard" id="admin_link">Admin Dashboard</a>
    </li>
    <li class="menu-item">
      <a href="/login" id="login_link">Sign In</a>
      <a href="#" id="logout_link" class="d-none">Sign out</a>
    </li>
    </ul>
    </nav>
    </div>
    <div class="col-sm-auto align-self-center nav-side-icon-parent">
      <ul class="list-inline nav-side-icon-list">
        <li class="hidden-mobile-mode">
          <div id="side-panel-trigger" class="side-panel-trigger">
            <a href="#">
              <div class="hamburger-box">
                <div class="hamburger-inner"></div>
              </div>
            </a>
          </div>
        </li>
      </ul>
    </div>
    </div>
    <div class="row d-block d-xl-none">
      <div class="col-12">
        <nav id="top-primary-nav-clone"
          class="menuzord d-block d-xl-none default menuzord-color-default menuzord-border-boxed menuzord-responsive"
          data-effect="slide" data-animation="none" data-align="right">
          <ul id="main-nav-clone" class="menuzord-menu menuzord-right menuzord-indented scrollable">
          </ul>
        </nav>
      </div>
    </div>
    <!-- These are needed to close the header top partial -->
    </div>
    </div>
    </div>
    </div>
    </header>

    <!-- Start main-content -->
    <div class="main-content-area">
      <!-- Section: page title -->
      <section id="home" class="">
        <div class="container-fluid p-0">
          <div class="row">
            <div class="col">
              <!-- START Home Slider REVOLUTION SLIDER 6.0.8 -->
              <p class="rs-p-wp-fix"></p>
              <rs-module-wrap id="rev_slider_shop_1_wrapper" data-alias="shop-home" data-source="gallery"
                style="background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
                <rs-module id="rev_slider_shop_1" style="display:none;" data-version="6.0.8">
                  <rs-slides>
                    <rs-slide data-key="rs-15" data-title="Slide 2" data-thumb="images/shop/shop-banner-bg.jpg"
                      data-anim="ei:d;eo:d;s:d;r:0;t:slotslide-horizontal;sl:d;">
                      <img src="images/shop/shop-banner-bg.jpg" title="1tp5" width="1920" height="1080"
                        data-bg="p:center bottom;" data-parallax="off" class="rev-slidebg" data-no-retina>

                      <rs-layer id="slider-3-slide-15-layer-14" data-type="text" class="text-theme-colored1"
                        data-rsp_ch="on" data-xy="x:l,l,l,c;xo:50px,50px,40px,2px;yo:200px,224px,175px,305px;"
                        data-text="w:normal;s:26,20,18,17;l:34,36,30,30;fw:600;a:left,left,left,center;"
                        data-dim="w:auto,auto,auto,264px;h:42px,42px,38px,auto;" data-frame_0="y:bottom;"
                        data-frame_1="st:1260;sp:1000;sR:1260;"
                        data-frame_999="x:-50,-38,-28,-17;o:0;st:w;sp:1500;sR:6740;" style="z-index:14;">Purchase Your
                        Labwork or
                      </rs-layer>

                      <rs-layer id="slider-3-slide-15-layer-19" data-type="text" data-color="#333333" data-rsp_ch="on"
                        data-xy="x:l,l,l,c;xo:50px,50px,40px,0;yo:246px,270px,210px,345px;"
                        data-text="w:normal;s:78,52,48,42;l:91,64,56,48;fw:700;a:left,left,left,center;"
                        data-dim="w:652px,auto,auto,auto;h:189px,151px,126px,112px;" data-frame_0="y:bottom;"
                        data-frame_1="st:1700;sp:1000;sR:1700;" data-frame_999="o:0;st:w;sp:1500;sR:6300;"
                        style="z-index:13;" class="font-current-theme1">Telehealth<br />Appointment
                      </rs-layer>

                      <!-- <rs-layer id="slider-3-slide-15-layer-20" class="rev-btn bg-theme-colored1" data-type="button"
                        data-rsp_ch="on" data-xy="x:l,l,l,c;xo:50px,50px,40px,0;yo:500px,454px,405px,525px;"
                        data-text="w:normal;s:20,15,14,14;f:left,none,none,none;c:both,none,none,none;l:40,30,22,16;fw:500;a:left,left,left,center;"
                        data-flcr="f:left,none,none,none;c:both,none,none,none;" data-dim="minh:0px,none,none,none;"
                        data-padding="t:10,8,10,12;r:60,46,46,46;b:10,8,10,12;l:60,46,46,46;"
                        data-border="bor:5px,5px,5px,5px;" data-frame_0="y:bottom;"
                        data-frame_1="st:2500;sp:1000;sR:2500;" data-frame_999="o:0;st:w;sp:1500;sR:5500;"
                        data-frame_hover="bgc:#007aff;bor:5px,5px,5px,5px;bri:120%;" style="z-index:15;">
                        <div class="element pt-0 pt-lg-10 pb-0">
                          <a href="https://hipaa.jotform.com/212587273457161?token="
                            class="ajaxload-popup text-white">Registration Form</a>
                        </div>
                      </rs-layer> -->

                      <rs-layer id="slider-3-slide-15-layer-22" data-type="shape" data-rsp_ch="on"
                        data-text="w:normal;s:20,15,11,6;l:0,19,14,8;" data-dim="w:100%;h:100%;" data-basealign="slide"
                        data-frame_0="x:-100%;" data-frame_0_mask="u:t;" data-frame_1="sp:2000;"
                        data-frame_1_mask="u:t;" data-frame_999="x:-100%;o:0;st:w;sp:2000;" data-frame_999_mask="u:t;"
                        style="z-index:7;background-color:rgba(255,255,255,0.3);">
                      </rs-layer>

                      <rs-layer id="slider-3-slide-15-layer-31" class="rs-pxl-2" data-type="image" data-rsp_ch="on"
                        data-xy="x:l,l,l,c;xo:755px,577px,417px,-2px;yo:105px,184px,125px,95px;"
                        data-text="w:normal;s:20,15,11,6;l:0,19,14,8;"
                        data-dim="w:588px,414px,368px,205px;h:442px,314px,268px,155px;" data-frame_0="y:top;"
                        data-frame_1="st:1350;sp:1000;sR:1350;" data-frame_999="y:top;o:0;st:w;sp:2000;sR:6650;"
                        style="z-index:8;"><img src="images/layerslider-sliderimages/slide-a-1.png"
                          alt="telehealth visit on tablet" data-no-retina>
                      </rs-layer>

                      <!-- <rs-layer id="slider-3-slide-15-layer-32" data-type="text" class="text-theme-colored1"
                        data-rsp_ch="on" data-xy="x:l,l,l,c;xo:50px,50px,40px,0;yo:445px,418px,340px,455px;"
                        data-text="w:normal;s:20,18,16,15;l:43,32,24,24;fw:600;a:left,left,left,center;"
                        data-dim="w:auto,auto,221px,auto;h:auto,auto,auto,35px;" data-frame_0="y:bottom;"
                        data-frame_1="st:2120;sp:1000;sR:2120;"
                        data-frame_999="x:-50,-38,-28,-17;o:0;st:w;sp:1500;sR:5880;" style="z-index:12;">*Before
                        Ordering, Please Complete the
                      </rs-layer> -->

                    </rs-slide>
                  </rs-slides>
                  <rs-progress class="rs-bottom" style="height: 5px; background: rgba(199,199,199,0.5);"></rs-progress>
                </rs-module>
              </rs-module-wrap>
              <!-- END REVOLUTION SLIDER -->
            </div>
          </div>
        </div>
      </section>

      <section class="page-title layer-overlay overlay-dark-9 section-typo-light bg-img-center"
        data-tm-bg-img="images/bg/bg1.jpg">
        <div class="container pt-50 pb-50">
          <div class="section-content">
            <div class="row">
              <div class="col-md-12 text-center">
                <h2 class="title">Telehealth &amp; Labs</h2>
                <nav class="breadcrumbs" role="navigation" aria-label="Breadcrumbs">
                  <div class="breadcrumbs">
                    <span><a href="/" rel="home">Home</a></span>
                    <span><i class="fa fa-angle-right"></i></span>
                    <span class="active">Checkout</span>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- preloading -->
      <div id="loading">
        <div class="col-3 load-cont">
          <div class="snippet" data-title="dot-pulse">
            <div class="stage">
              <div class="dot-pulse"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- end preloading -->
      <section>
        <div class="container">
          <div class="section-content">
            <!-- <div class="text-center">
              <h5>*** If you are a new patient, you must complete the <a
                  src="https://hipaa.jotform.com/212587273457161?token=<" id="jotform-hover"
                  class="ajaxload-popup text-success">
                  <u>Registration Form</u></a> before purchasing the Labwork &amp; Telehealth Consult ***</h5>
            </div> -->
            <form id="checkout-form" action="/authorizeNet" method="post">
              <div class="row mt-30">
                <div class="col-md-12 mt-30">
                  <h3>Your order</h3>
                  <table class="table table-striped table-bordered tbl-shopping-cart">
                    <thead>
                      <tr>
                        <th>Select</th>
                        <th>Product Name</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for(let product of products) {%>
                        <tr>
                          <td id="tel-product" data-productid="<%=product?.id%>" class="selection-box">
                            <input type="checkbox" name="telehealth-appointment" id="telehealth-appt-checkbox">
                          </td>
                          <td class="product-name">
                            <%=product?.product_name%>
                          </td>
                          <td id="product-price">$<span class="amount">
                              <%=product?.price%>
                            </span></td>
                        </tr>
                        <% } %>
                          <tr>
                            <td>Order Total</td>
                            <td>&nbsp;</td>
                            <td>$<span id="cart-total-price">0</span></td>
                          </tr>
                    </tbody>
                  </table>

                  <div class="d-none text-center" id="select-product-error">
                    <h5 id="select-product-error-text">Please select one or more product</h5>
                  </div>
                </div>

                <!-- <div id="payment_info_next" class="row text-center py-3">
                  <div class="col-xs-12">
                    <button type='submit' id="schedule-appointment-order"
                      class="btn btn-theme-colored1 btn-md btn-block">
                      <span id="schedule_appointment_text">Next</span>
                      <span id="schedule_appointment_text_spin" class="d-none">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                      </span>
                    </button>
                  </div>
                </div> -->

                <!-- <div id="payment_info_pay" class="d-none"> -->
                  <!-- <label id="apply_discount_p" class="d-none" for="applyDiscountCheckbox"> -->
                    <!-- tolltip -->
                    <!-- <span flow="right"
                      tooltip="Products can only be discounted 90%. If you have leftover discount, you can use it next time">
                      <i class="fas fa-question-circle"></i></span>
                    Apply My Discount
                    <input style="font-size: 25px;" type="checkbox" id="applyDiscountCheckbox" value="true">
                  </label> -->
                  <div id="check_exist_payment" class="d-none">
                    <h2>Select a Payment Card</h2>
                    <div id="payment_card_list">
                    </div>
                    <label for="otherPaymentCheckbox">use other payment
                      <input style="font-size: 25px;" type="checkbox" id="otherPaymentCheckbox" name="otherPayment"
                        value="true">
                    </label>
                  </div>


                  <div class="col-md-12 mt-60" id="use_new_payment">
                    <div class="card payment-method">
                      <div class="card-header text-center">
                        <h3>Payment Information</h3>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <div class="row">
                            <img class="img-responsive cc-img" src="/images/testrxmd/creditcardicons.png">
                          </div>
                        </div>
                        <div class="panel-body">
                          <div class="row">
                            <div class="col-xs-12">
                              <div class="form-group text-center">
                                <label>CARD NUMBER</label>
                                <div class="input-group px-5">
                                  <input id="checkout-form-ccNumber" type="tel" class="form-control" maxlength="16"
                                    placeholder="Credit or Debit Card Number" />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-xs-6 col-md-6">
                              <div class="form-group text-center px-5 py-3">
                                <label>EXP DATE</label>
                                <input type="text" pattern="[0-9/]*" placeholder="MM/YY" maxlength="5"
                                  id="checkout-form-ccExpiry" oninput="addSlash(this)" placeholder="MM/YY"
                                  class="form-control" />

                              </div>
                            </div>
                            <SCRIPT LANGUAGE="JavaScript">
                              function addSlash(e) {
                                let inputValue = e.value;
                                if (inputValue.length === 2) {
                                  e.value = inputValue + '/';
                                }
                                if (inputValue.indexOf('/') !== inputValue.lastIndexOf('/')) {
                                  e.value = inputValue.substring(0, inputValue.length - 1);
                                }
                              }
                            </SCRIPT>
                            <div class="col-xs-6 col-md-6 pull-right">
                              <div class="form-group px-5 py-3 text-center">
                                <label>CVC CODE</label>
                                <input maxlength="4" id="checkout-form-cvc" type="tel" class="form-control"
                                  placeholder="CVC" />
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="form-group px-5 py-3 text-center">
                                <label>CARD OWNER FIRST NAME</label>
                                <input id="checkout-form-firstname-on-cc" type="text" class="form-control"
                                  placeholder="Card Owner First Name" />
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="form-group px-5 py-3 text-center">
                                <label>CARD OWNER LAST NAME</label>
                                <input id="checkout-form-lastname-on-cc" type="text" class="form-control"
                                  placeholder="Card Owner Last Name" />
                              </div>
                            </div>
                          </div>

                        </div>

                        <div class="row">
                          <div class="col-md-12 mb-4">
                            <div class="card mb-4">
                              <div class="card-header py-3 text-center">
                                <h4 class="mb-0">Billing Address</h4>
                              </div>
                              <div id="billingAddress" class="card-body">
                                <!-- 2 column grid layout with text inputs for the first and last names -->
                                <div class="row mb-4">
                                  <div class="col">
                                    <div class="form-outline">
                                      <input type="text" id="checkout-form-firstname" class="form-control"
                                        value="<%=billing_info?.firstName%>" />
                                      <label class="form-label" for="checkout-form-firstname">First name</label>
                                    </div>
                                  </div>
                                  <div class="col">
                                    <div class="form-outline">
                                      <input type="text" id="checkout-form-lastname" class="form-control"
                                        value="<%=billing_info?.lastName%>" />
                                      <label class="form-label" for="checkout-form-lastname">Last name</label>
                                    </div>
                                  </div>
                                </div>

                                <!-- Email input -->
                                <div class="form-outline mb-4">
                                  <input type="email" id="checkout-form-email" class="form-control"
                                    value="<%=billing_info?.email%>" />
                                  <label class="form-label" for="checkout-form-email">Email</label>
                                </div>

                                <!-- Address1 input -->
                                <!-- <div class="form-outline mb-4">
                                <input type="text" id="checkout-form-address" class="form-control" />
                                <label class="form-label" for="checkout-form-address">Address Line 1</label>
                              </div> -->

                                <!-- Address2 input -->
                                <div class="row mb-4">
                                  <div class="col">
                                    <div class="form-outline">
                                      <input type="text" id="checkout-form-address" class="form-control"
                                        value="<%=billing_info?.address%>" />
                                      <label class="form-label" for="checkout-form-address">Address</label>
                                    </div>
                                  </div>

                                  <div class="col">
                                    <div class="form-outline">

                                      <input type="text" id="checkout-form-city" class="form-control"
                                        value="<%=billing_info?.city%>" />
                                      <label class="form-label" for="checkout-form-city">City</label>
                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="col">
                                    <div class="form-outline">
                                      <select id="checkout-form-state" class="form-control">
                                        <option value="">Select State</option>

                                        <option value="AL" <%=billing_info?.state==='AL' ? 'selected' : '' %>>Alabama
                                        </option>
                                        <option value="AK" <%=billing_info?.state==='AK' ? 'selected' : '' %>>Alaska
                                        </option>
                                        <option value="AZ" <%=billing_info?.state==='AZ' ? 'selected' : '' %>>Arizona
                                        </option>
                                        <option value="AR" <%=billing_info?.state==='AR' ? 'selected' : '' %>>Arkansas
                                        </option>
                                        <option value="CA" <%=billing_info?.state==='CA' ? 'selected' : '' %>>California
                                        </option>
                                        <option value="CO" <%=billing_info?.state==='CO' ? 'selected' : '' %>>Colorado
                                        </option>
                                        <option value="CT" <%=billing_info?.state==='CT' ? 'selected' : '' %>
                                          >Connecticut
                                        </option>
                                        <option value="DE" <%=billing_info?.state==='DE' ? 'selected' : '' %>>Delaware
                                        </option>
                                        <option value="DC" <%=billing_info?.state==='DC' ? 'selected' : '' %>>District
                                          Of
                                          Columbia</option>
                                        <option value="FL" <%=billing_info?.state==='FL' ? 'selected' : '' %>
                                          <%= billing_info?.state==='FL' ? 'selected' : '' %>>Florida
                                        </option>
                                        <option value="GA" <%=billing_info?.state==='GA' ? 'selected' : '' %>>Georgia
                                        </option>
                                        <option value="HI" <%=billing_info?.state==='HI' ? 'selected' : '' %>>Hawaii
                                        </option>
                                        <option value="ID" <%=billing_info?.state==='ID' ? 'selected' : '' %>>Idaho
                                        </option>
                                        <option value="IL" <%=billing_info?.state==='IL' ? 'selected' : '' %>>Illinois
                                        </option>
                                        <option value="IN" <%=billing_info?.state==='IN' ? 'selected' : '' %>>Indiana
                                        </option>
                                        <option value="IA" <%=billing_info?.state==='IA' ? 'selected' : '' %>>Iowa
                                        </option>
                                        <option value="KS" <%=billing_info?.state==='KS' ? 'selected' : '' %>>Kansas
                                        </option>
                                        <option value="KY" <%=billing_info?.state==='KY' ? 'selected' : '' %>>Kentucky
                                        </option>
                                        <option value="LA" <%=billing_info?.state==='LA' ? 'selected' : '' %>>Louisiana
                                        </option>
                                        <option value="ME" <%=billing_info?.state==='ME' ? 'selected' : '' %>>Maine
                                        </option>
                                        <option value="MD" <%=billing_info?.state==='MD' ? 'selected' : '' %>>Maryland
                                        </option>
                                        <option value="MA" <%=billing_info?.state==='MA' ? 'selected' : '' %>
                                          >Massachusetts</option>
                                        <option value="MI" <%=billing_info?.state==='MI' ? 'selected' : '' %>>Michigan
                                        </option>
                                        <option value="MN" <%=billing_info?.state==='MN' ? 'selected' : '' %>>Minnesota
                                        </option>
                                        <option value="MS" <%=billing_info?.state==='MS' ? 'selected' : '' %>
                                          >Mississippi
                                        </option>
                                        <option value="MO" <%=billing_info?.state==='MO' ? 'selected' : '' %>>Missouri
                                        </option>
                                        <option value="MT" <%=billing_info?.state==='MT' ? 'selected' : '' %>>Montana
                                        </option>
                                        <option value="NE" <%=billing_info?.state==='NE' ? 'selected' : '' %>>Nebraska
                                        </option>
                                        <option value="NV" <%=billing_info?.state==='NV' ? 'selected' : '' %>>Nevada
                                        </option>
                                        <option value="NH" <%=billing_info?.state==='NH' ? 'selected' : '' %>>New
                                          Hampshire</option>
                                        <option value="NJ" <%=billing_info?.state==='NJ' ? 'selected' : '' %>>New Jersey
                                        </option>
                                        <option value="NM" <%=billing_info?.state==='NM' ? 'selected' : '' %>>New Mexico
                                        </option>
                                        <option value="NY" <%=billing_info?.state==='NY' ? 'selected' : '' %>>New York
                                        </option>
                                        <option value="NC" <%=billing_info?.state==='NC' ? 'selected' : '' %>>North
                                          Carolina</option>
                                        <option value="ND" <%=billing_info?.state==='ND' ? 'selected' : '' %>>North
                                          Dakota
                                        </option>
                                        <option value="OH" <%=billing_info?.state==='OH' ? 'selected' : '' %>>Ohio
                                        </option>
                                        <option value="OK" <%=billing_info?.state==='OK' ? 'selected' : '' %>>Oklahoma
                                        </option>
                                        <option value="OR" <%=billing_info?.state==='OR' ? 'selected' : '' %>>Oregon
                                        </option>
                                        <option value="PA" <%=billing_info?.state==='PA' ? 'selected' : '' %>
                                          >Pennsylvania
                                        </option>
                                        <option value="RI" <%=billing_info?.state==='RI' ? 'selected' : '' %>>Rhode
                                          Island
                                        </option>
                                        <option value="SC" <%=billing_info?.state==='SC' ? 'selected' : '' %>>South
                                          Carolina</option>
                                        <option value="SD" <%=billing_info?.state==='SD' ? 'selected' : '' %>>South
                                          Dakota
                                        </option>
                                        <option value="TN" <%=billing_info?.state==='TN' ? 'selected' : '' %>>Tennessee
                                        </option>
                                        <option value="TX" <%=billing_info?.state==='TX' ? 'selected' : '' %>>Texas
                                        </option>
                                        <option value="UT" <%=billing_info?.state==='UT' ? 'selected' : '' %>>Utah
                                        </option>
                                        <option value="VT" <%=billing_info?.state==='VT' ? 'selected' : '' %>>Vermont
                                        </option>
                                        <option value="VA" <%=billing_info?.state==='VA' ? 'selected' : '' %>>Virginia
                                        </option>
                                        <option value="WA" <%=billing_info?.state==='WA' ? 'selected' : '' %>>Washington
                                        </option>
                                        <option value="WV" <%=billing_info?.state==='WV' ? 'selected' : '' %>>West
                                          Virginia</option>
                                        <option value="WI" <%=billing_info?.state==='WI' ? 'selected' : '' %>>Wisconsin
                                        </option>
                                        <option value="WY" <%=billing_info?.state==='WY' ? 'selected' : '' %>>Wyoming
                                        </option>
                                      </select>
                                      <label class="form-label" for="checkout-form-state">State</label>
                                    </div>
                                  </div>
                                  <div class="col">
                                    <div class="form-outline">
                                      <input type="text" id="checkout-form-zip" pattern="^\s*\d{5}(-?\s*\d{4})?\s*$"
                                        class="form-control" value="<%=billing_info?.zipCode%>">
                                      <label class="form-label" for="checkout-form-zip">Zip Code</label>
                                    </div>
                                  </div>
                                  <div>
                                    <label for="saveCardCheckbox">Save Card Info
                                      <input style="font-size: 25px;" type="checkbox" id="saveCardCheckbox"
                                        name="savePayment" value="true">
                                    </label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="complete-order-error" class="d-none text-center"></div>
                  <div class="panel-footer">
                    <div class="row text-center py-4">
                      <div class="col-xs-12">
                        <button type='submit' id="complete-order" class="btn btn-theme-colored1 btn-lg btn-block">
                          Complete Order
                        </button>
                      </div>
                    </div>
                  </div>
                <!-- </div> -->
              </div>
            </form>
          </div>
        </div>
      </section>

      <div id="spinner-div" class="pt-5">
        <div class="spinner-border text-primary" role="status">
        </div>
        <h2>Loading....</h2>
      </div>
      <!-- order success modal -->
      <div style="max-height: 500px; margin:40px 0px;" class="modal fade" id="order_success_modal" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="update-user-title">Order Success</h3>
              <button id="close-mod-btn" type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
            </div>
            <div id="user-update-detail" class="modal-body">
              <div class="text-center">
                <span style="color: #07DBA6;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor"
                    class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                  </svg>
                </span>
              </div>
              <div class="mb-3">
                <h5 class="text-center" id="order-success-message"></h5>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" id="order-confirmation" class="btn btn-primary">
                <span id="order_success_text"></span>
                <span id="order_success_text_spin" class="d-none">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Loading...
                </span>
              </button>
              <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
            </div>
          </div>

        </div>
      </div>
      <!-- end main-content -->

      <!-- Footer -->
      <%- include('../partials/footer') %>

        <!-- Footer Scripts -->
        <script src="js/custom.js"></script>
        <script src="js/api_call.js"></script>

</body>

</html>
